.logo{
  width: 40%;
}
.leftBody {
  height: 83vh;
  background-color: rgb(58, 35, 35);
  color: white;
}
.rightBody {
  background-color: rgb(206, 206, 206);
}
.foot {
  margin-bottom: 0px;
  width: 100%;
  background-color: #0b3942;
  color: wheat;
  text-align: center;
}
.dataTable {
  background-color: white;
  height: 92%;
  width: 98%;
  margin-top: 1.2rem;
  box-shadow: 5px 10px burlywood;
}
.navigation {
  display: flex;
  background-color: wheat;
  height: 8%;
}
a{
  color: #020202;
  padding: 2vh 10vh;
  text-decoration: none;
}
.active{
  border-top: 3px solid blue;
}
.smallbox {
  background-color: rgb(204, 203, 203);
  font-weight: bold;
  width: 95%;
  margin: auto;
  box-shadow: 2px 2px 10px rgb(104, 103, 103);
}
.data-box{
  width: 35vh;
}