body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.imgur.com/0ZzIKxx.jpeg");
  background-size: cover;
  margin: 0;
}
.part2 {
  margin-left: 0;
  margin-bottom: 0;
  justify-content: center;
  height: 100%;
  
}
.leftBody {
  display: block;
  width: 25%;
  height: 100vh;
  background-color: rgb(62, 161, 168);
}
button {
  padding: 5%;
  width: 20vh;
  border-radius: 25vh;
  font-weight: bold;
  color: bisque;
  background-color: rgb(33, 66, 136);
  margin: 2vh;
}
#change{
  background-color: rgb(80, 155, 80);
  width: 30vh;
}
input{
  width: 40vh;
  margin-top: 2vh;
  padding: 5%;
  border-radius: 1vh;
}
#root{
  margin-top: 8vh;
}