body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arial: Arial;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
}
