body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-arial: Arial;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-aquamarine: #13f7ce;
  --color-blueviolet: #8f01ff;
  --color-paleturquoise: #c1fceb;
  --color-darkblue: #2909a7;
  --color-yellow-100: #ebff00;

  /* Gaps */
  --gap-4xs: 9px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-84xl: 103px;
  --padding-xl: 20px;
  --padding-13xl: 32px;
  --padding-6xs: 7px;
  --padding-33xl: 52px;
  --padding-32xl: 51px;
  --padding-14xl: 33px;
  --padding-xs: 12px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;

  /* Border radiuses */
  --br-11xl: 30px;
}
